* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #0e2a47;
}
.nav_bar {
  height: 70px;
  background: #230a61;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px dotted blue; */
  z-index: 99;
}
.nav_bar .logo{
  background-color: #0e2a47;
  text-decoration:none ;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.home {
  background: #023523;
  color: #fff;
  min-height: 100vh;
}
.option {
  height: auto;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 10px;
}
.option a,
.sbtn {
  background-color: rgb(30, 107, 209);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  z-index: 99;
  position: relative;
  overflow: hidden;
  /* box-shadow: 1px 10px 50px 10px rgb(23, 22, 72); */
}
.option a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: rgb(43, 122, 225);
  transition: 0.4s;
  z-index: -1;
  border-radius: 5px;
}
.option a:hover::after {
  width: 100%;
  color: #fff;
  text-decoration: none;
  height: 100%;
}
.card-container .form-container {
  background-color: #023523;
  min-width: 400px;
  height: 500px;
}

.cls {
  background-color: var(--light-grey);
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.cls a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.cls a:hover {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.cls a,
h5 {
  font-size: 18px;
}
.home {
  height: 100vh;
  background: url(/images/Sprinkle.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .login_container {
  min-height: 300px;
  background: #0e2a47;
  /* background: url(/images/homeBg1.svg); */
  max-width: 500px;
  min-width: 400px;
  box-shadow: 1px 1px 90px 10px rgb(20, 31, 123);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .login_container h1 {
  margin-top: 20px;
}
.home .login_container .controls {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .login_container .controls .image_area{
  width: 200px;
  border-radius:50% ;
  margin: 10px;
  height: 200px;

}
.home .login_container .controls .image_area img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home .login_container .controls .input {
  width: 60%;
  height: 34px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
  justify-content: center;
  position: relative;
}
.home .login_container .controls .input .itms{
  background:linear-gradient(to right,#2A5470,#4C4177);
}
.home .login_container .controls .input input {
  background: transparent;
  width: 95%;
  border: none;
  color: #ffff;
  z-index: 99;
  outline: none;
  font-size: 13px;
  padding-left: 10px;
}
.home .login_container .controls .input label {
  position: absolute;
  transition: 0.5s ease;
  font-size: 13px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.home .login_container .controls .input label.top {
  top: 0px;
  left: 5px;
  background-color: #0e2a47;
  padding: 6px;
}
.home .login_container .controls .input input:focus ~ label {
  top: 0px;
  left: 5px;
  background-color: #0e2a47;
  padding: 6px;
}
.home .login_container .controls .input3 {
  border: none;
}
.home .login_container .controls .input3 button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: transparent;
  box-shadow: 1px 1px 5px 1px #104f92;
  color: #fff;

  height: 30px;
}
.home .login_container .controls .input3 button:active {
  box-shadow: inset 1px 1px 3px 1px gray;
}
.cls {
  /* background-color: rgb(181, 143, 143); */
  border: 1px solid #fff;
  margin-bottom: 10px;
  color: rgb(207, 77, 77);
}
@media (max-width: 487px) {
  .home .login_container {
    min-width: 355px;
  }
}

/* Home Page Design Start */
.index {
  background: url(/images/Sprinkle.svg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav_bar {
  height: 70px;
  background: url(/images/second.svg);
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.nav_bar .logout_btn {
  border: none;
  font-size: 14px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #057516;
  cursor: pointer;
  text-decoration: none;
}
.container-fluid .row .col .card {
  background: #0e2a47;
  color: #fff;
  margin-bottom: 10px;
  box-shadow: 1px 10px 50px 10px rgb(23, 22, 72);
}
.srch {
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 3px 10px;
  font-size: 15px;
  width: 300px;
}
.sbtn {
  background-color: rgb(30, 107, 209);
  padding: 0;
  font-size: 15px;
  height: 30px;
  width: 100px;
  border: none;
}
.search {
  background-color: #0e2a47;
  /* border: 1px solid red; */
  position: relative;
  box-shadow: 1px 10px 50px 10px rgb(23, 22, 72);
  padding: 10px;
}
.closeButton {
  background-color: #104f92;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
}
.closeButton:hover {
  color: #fff;
}
input[type="file"]{
  display: none;
}

.imgl{
  
  min-width: 120px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0 5px;
  margin: auto;
}