* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.nav_bar {
  height: 70px;
  background: #0e2a47;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px dotted blue; */
  z-index: 99;
}
.home {
  background: #023523;
  color: #fff;
  height: 100vh;
}
.home .option{
  
  height: auto;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 10px;

}
.home .option a{
  background-color:#023523;
  color: #fff;
  text-decoration:none ;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  z-index: 99;
  position: relative;
  overflow: hidden;
}
.home .option a::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: #004d32;
  transition: .4s;
  z-index: -1;
  border-radius: 5px;
}
.home .option a:hover::after{
  width: 100%;
  height: 100%;
}
.card-container .form-container {
  background-color: #023523;
  min-width: 400px;
  height: 500px;
}

.cls {
  background-color: var(--light-grey);
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.cls a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.cls a:hover {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.cls a,
h5 {
  font-size: 18px;
}
.home {
  height: 100vh;
  background: url(/images/Sprinkle.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .login_container {
  min-height: 300px;
  background: #0e2a47;
  /* background: url(/images/homeBg1.svg); */
  max-width: 500px;
  min-width: 400px;
  box-shadow: 1px 1px 90px 10px rgb(20, 31, 123);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .login_container h1 {
  margin-top: 20px;
}
.home .login_container .controls {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .login_container .controls .input {
  width: 60%;
  height: 34px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
  justify-content: center;
  position: relative;
}
.home .login_container .controls .input input {
  background: transparent;
  width: 95%;
  border: none;
  color: #ffff;
  z-index: 99;
  outline: none;
  font-size: 13px;
  padding-left: 10px;
}
.home .login_container .controls .input label {
  position: absolute;
  transition: 0.5s ease;
  font-size: 13px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.home .login_container .controls .input label.top {
  top: 0px;
  left: 5px;
  background-color: #0e2a47;
  padding: 6px;
}
.home .login_container .controls .input input:focus ~ label {
  top: 0px;
  left: 5px;
  background-color: #0e2a47;
  padding: 6px;
}
.home .login_container .controls .input3 {
  border: none;
}
.home .login_container .controls .input3 button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: transparent;
  box-shadow: 1px 1px 5px 1px #104f92;
  color: #fff;

  height: 30px;
}
.home .login_container .controls .input3 button:active {
  box-shadow: inset 1px 1px 3px 1px gray;
}
.cls{
  /* background-color: rgb(181, 143, 143); */
  border: 1px solid #fff;
  margin-bottom: 10px;
  color: rgb(207, 77, 77);

}
@media (max-width: 487px) {
  .home .login_container {
    min-width: 355px;
  }
}
